table{
    border-collapse: collapse;
    width:100vw;
    overflow-x: auto;
}
th,td{
    border: 1px solid black;
    width:100px;
}

td:focus{
    outline: none;
}
#task-bar{
    margin: 1px solid black;
    padding:0.5rem;
    display:flex;
     justify-content:center; 
     align-items: flex-start;
    width: 100%;
    background-color: cornflowerblue;
}